@import url("https://fonts.googleapis.com/css2?family=Elsie:wght@900&family=Quattrocento+Sans&display=swap");
body {
  font-size: 16px;
  margin: 0 auto;
  font-family: "Quattrocento Sans", sans-serif;
}

h1 {
  font-family: "Elsie", "cursive";
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}

h1, header, .summary {
  color: gray;
}

header,
.summary,
.preamble,
.explanation,
.participation,
.benefits,
.requirements,
.design-selection,
.design-archives,
.zen-resources {
  padding: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

a:link {
  text-decoration: none;
  color: black;
}

.summary a:link {
  color: grey;
}

@media only screen and (min-width: 45rem) {
  header, .summary {
    text-align: right;
  }
}

.summary::after {
  content: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 71.65 71.65'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%2337b8ea;%7D.cls-2%7Bfill:%23fff;opacity:0.4;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='cls-1' cx='35.82' cy='35.82' r='35.82'/%3E%3Cpath class='cls-2' d='M54.54,52.51a7.36,7.36,0,0,1-1.61,6.09,6.14,6.14,0,0,1-4.78,1.89c-3.17-.39-5.1-4-5.39-6.76a9.12,9.12,0,0,1,4.72-8.52c3.91-2.22,8-.64,9.21-.09,6,2.71,6.83,9.79,6.9,10.43C64.27,61.92,60.11,67.31,56,70c-6.11,4-12.65,2.32-14,2C34.27,70,30.55,63.81,29.56,62c-4-7.42-1.88-14.7-1.23-16.93a21.9,21.9,0,0,1,7.28-11.49c6.48-5.13,14-4.47,16.91-4.22a26.83,26.83,0,0,1,16.82,7.76c6.94,7.17,7.21,16.15,7.34,20.37.11,3.59.28,9.44-2.47,14.44-.42.74-1.36,2.32-1.09,2.54s2.71-1.8,4.39-4.1a19.18,19.18,0,0,0,2.9-5.92,35.54,35.54,0,0,0-.72-22.65C74.32,29.41,62.52,25.21,58.74,24.1c-3.17-.93-11.42-3.22-20.62.58-12.37,5.1-16.32,17-16.81,18.58-.74,2.4-3.62,12.66,2.21,23,1.5,2.67,7.32,12,18.89,13.81,2.07.33,13.4,1.87,21.5-6.66,7.7-8.1,6.12-18.61,5.92-19.76C69.49,51.59,68.05,43,60.7,39.19a15.89,15.89,0,0,0-9.78-1.56c-.71.12-9.46,1.74-12.08,9.69-1.29,3.93-1.3,9.72,2.5,13.42,2.47,2.4,6.9,4.28,9.78,2.67C55.29,61.08,54.35,52.49,54.54,52.51Z' transform='translate(-14.18 -16.73)'/%3E%3C/svg%3E");
  animation: spin 5s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.preamble {
  background-color: #f15bb5;
  margin-bottom: 1.5rem;
}
.preamble p {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 1rem;
}
@media only screen and (min-width: 45rem) {
  .preamble {
    padding: 5rem;
    display: grid;
    grid-template: 20% 80%/1fr 1fr 1fr;
    grid-gap: 1.5rem;
  }
  .preamble h3 {
    grid-row: 1;
    grid-column: 1;
  }
  .preamble :nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }
  .preamble :nth-child(3) {
    grid-row: 2;
    grid-column: 2;
  }
  .preamble :nth-child(4) {
    grid-row: 2;
    grid-column: 3;
  }
}

.preamble::before {
  content: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 71.65 71.65'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%2337b8ea;%7D.cls-2%7Bfill:%23fff;opacity:0.4;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='cls-1' cx='35.82' cy='35.82' r='35.82'/%3E%3Cpath class='cls-2' d='M54.54,52.51a7.36,7.36,0,0,1-1.61,6.09,6.14,6.14,0,0,1-4.78,1.89c-3.17-.39-5.1-4-5.39-6.76a9.12,9.12,0,0,1,4.72-8.52c3.91-2.22,8-.64,9.21-.09,6,2.71,6.83,9.79,6.9,10.43C64.27,61.92,60.11,67.31,56,70c-6.11,4-12.65,2.32-14,2C34.27,70,30.55,63.81,29.56,62c-4-7.42-1.88-14.7-1.23-16.93a21.9,21.9,0,0,1,7.28-11.49c6.48-5.13,14-4.47,16.91-4.22a26.83,26.83,0,0,1,16.82,7.76c6.94,7.17,7.21,16.15,7.34,20.37.11,3.59.28,9.44-2.47,14.44-.42.74-1.36,2.32-1.09,2.54s2.71-1.8,4.39-4.1a19.18,19.18,0,0,0,2.9-5.92,35.54,35.54,0,0,0-.72-22.65C74.32,29.41,62.52,25.21,58.74,24.1c-3.17-.93-11.42-3.22-20.62.58-12.37,5.1-16.32,17-16.81,18.58-.74,2.4-3.62,12.66,2.21,23,1.5,2.67,7.32,12,18.89,13.81,2.07.33,13.4,1.87,21.5-6.66,7.7-8.1,6.12-18.61,5.92-19.76C69.49,51.59,68.05,43,60.7,39.19a15.89,15.89,0,0,0-9.78-1.56c-.71.12-9.46,1.74-12.08,9.69-1.29,3.93-1.3,9.72,2.5,13.42,2.47,2.4,6.9,4.28,9.78,2.67C55.29,61.08,54.35,52.49,54.54,52.51Z' transform='translate(-14.18 -16.73)'/%3E%3C/svg%3E");
  animation: spin 5s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*.explanation::before {
    content: url(svg/candyshoppegraphics-02.svg);
}*/
.explanation::before {
  content: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%238062aa;%7D.cls-2%7Bfill:%2368c7bd;%7D.cls-3%7Bfill:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.37px;%7D.cls-3,.cls-4%7Bstroke:%23fff;opacity:0.5;%7D.cls-4%7Bfill:none;stroke-miterlimit:10;stroke-width:1.99px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M599.65,557.17a4.71,4.71,0,0,1-.12.54h-.17l-.56-.5.85-.05c8.5-35.25-14.36-74.9-55-92.27-32.44-13.86-67.29-9.7-90,8-4.77-23-21.61-87.79-49.46-26.22,0,0-33.72,2.73-20.54,36.54.1.3.22.6.33.89v0s-47.16,63,45.24,33.75c-2.65,32.58,19.6,66.78,56.58,82.58,25.88,11,53.29,10.66,74.85,1l.54-.23c0,.27,0,.55,0,.83-.29,83.29,44.72,25.29,44.72,25.29h0l.9.09c36.11,3.74,29.81-29.49,29.81-29.49C689.15,555.07,623.53,555.72,599.65,557.17ZM391.78,499.73a8.19,8.19,0,0,1,.35.8Z'/%3E%3Cpath class='cls-2' d='M457.12,557.12c.1.22.22.52.36.86C457.34,557.68,457.22,557.4,457.12,557.12Z'/%3E%3Cpath class='cls-2' d='M458.91,561.2c.85,1.95,1.86,4.23,2.77,6.3C460.92,565.82,460,563.73,458.91,561.2Z'/%3E%3Cpath class='cls-2' d='M462,568.22l1.48,3.37Z'/%3E%3Cpath class='cls-2' d='M463.5,571.66c.19.42.37.81.49,1.12Z'/%3E%3Cpath class='cls-3' d='M427.54,449s34.06,15.25,6.63,42.6C434.17,491.6,448.16,468.81,427.54,449Z'/%3E%3Cpath class='cls-2' d='M562.14,601.23c0,.27,0,.55,0,.83l-.53-.6Z'/%3E%3Cpath class='cls-4' d='M472.79,584.65s40,26.71,84.34,12.07'/%3E%3C/svg%3E");
}

.explanation:after {
  content: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%2337b8ea;%7D.cls-2%7Bfill:%2368c7bd;%7D.cls-3%7Bfill:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.37px;%7D.cls-3,.cls-4%7Bstroke:%23fff;opacity:0.5;%7D.cls-4%7Bfill:none;stroke-miterlimit:10;stroke-width:1.99px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M527.33,589.94c0,.18-.07.37-.12.54H527l-.56-.5.86,0c8.49-35.25-14.37-74.9-55-92.27-32.44-13.86-67.28-9.7-90,8-4.78-23-21.62-87.79-49.46-26.22,0,0-33.72,2.73-20.55,36.54.1.3.22.6.34.89l0,0s-47.16,63,45.25,33.75c-2.65,32.58,19.6,66.78,56.58,82.58,25.87,11,53.28,10.66,74.85,1l.54-.24c0,.28,0,.56,0,.84-.29,83.29,44.71,25.29,44.71,25.29h0l.91.09c36.1,3.74,29.81-29.49,29.81-29.49C616.83,587.84,551.21,588.49,527.33,589.94ZM319.46,532.5c.14.29.26.57.35.8C319.7,533.07,319.59,532.8,319.46,532.5Z'/%3E%3Cpath class='cls-2' d='M384.79,589.89c.11.22.23.52.37.86C385,590.45,384.9,590.17,384.79,589.89Z'/%3E%3Cpath class='cls-2' d='M386.58,594l2.77,6.3C388.6,598.59,387.69,596.5,386.58,594Z'/%3E%3Cpath class='cls-2' d='M389.67,601c.56,1.27,1.07,2.44,1.47,3.37C390.77,603.52,390.28,602.41,389.67,601Z'/%3E%3Cpath class='cls-2' d='M391.18,604.43c.19.42.37.81.49,1.12C391.53,605.24,391.37,604.87,391.18,604.43Z'/%3E%3Cpath class='cls-3' d='M355.21,481.77s34.07,15.25,6.64,42.6C361.85,524.37,375.84,501.58,355.21,481.77Z'/%3E%3Cpath class='cls-2' d='M489.82,634c0,.28,0,.56,0,.84l-.53-.6Z'/%3E%3Cpath class='cls-4' d='M398.48,618.09s40,26.7,84.34,12.07'/%3E%3C/svg%3E");
}

.explanation {
  background-color: #fee440;
  color: black;
  margin-bottom: 1.5rem;
}
.explanation p {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 1rem;
}
@media only screen and (min-width: 45rem) {
  .explanation {
    max-width: 45rem;
    margin: 0 auto;
    padding: 5rem;
  }
}

.participation {
  background-color: #f15bb5;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.participation p {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 1rem;
}
@media only screen and (min-width: 45rem) {
  .participation {
    padding: 5rem;
    display: grid;
    grid-template: 20% 80%/1fr 1fr 1fr;
    grid-gap: 1.5rem;
  }
  .participation h3 {
    grid-row: 1;
    grid-column: 1;
  }
  .participation :nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }
  .participation :nth-child(3) {
    grid-row: 2;
    grid-column: 2;
  }
  .participation :nth-child(4) {
    grid-row: 2;
    grid-column: 3;
  }
}

.benefits {
  background-color: #00f5d4;
  margin-bottom: 1.5rem;
}
.benefits p {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 1rem;
}
@media only screen and (min-width: 45rem) {
  .benefits {
    max-width: 25rem;
  }
}

.benefits::after {
  content: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 289.13 107.08'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-4%7Bisolation:isolate;%7D.cls-2%7Bfill:%23835ca6;%7D.cls-3%7Bfill:%239b7db9;%7D.cls-4%7Bfill:none;stroke:%23c6acd3;stroke-miterlimit:10;opacity:0.48;%7D%3C/style%3E%3C/defs%3E%3Cg class='cls-1'%3E%3Crect class='cls-2' x='16.73' y='5.25' width='255.2' height='96.39'/%3E%3Cpolygon class='cls-2' points='268.15 101.67 289.13 107.08 289.13 0 271.31 5.42 268.15 101.67'/%3E%3Cpolygon class='cls-2' points='20.98 101.67 0 107.08 0 0 17.82 5.42 20.98 101.67'/%3E%3C/g%3E%3Cpath class='cls-3' d='M285.05,115.47H109.44A12.87,12.87,0,0,1,96.57,102.6V57.13a12.87,12.87,0,0,1,12.87-12.87H285.05a12.87,12.87,0,0,1,12.87,12.87v45.48A12.87,12.87,0,0,1,285.05,115.47Z' transform='translate(-52.92 -26.43)'/%3E%3Cg class='cls-1'%3E%3Cpath class='cls-4' d='M59.46,35.63s3.5-2.79,7.13,6.78,3,76.48,3,76.48' transform='translate(-52.92 -26.43)'/%3E%3Cpath class='cls-4' d='M335,35.63s-3.5-2.79-7.13,6.78-3,76.48-3,76.48' transform='translate(-52.92 -26.43)'/%3E%3C/g%3E%3C/svg%3E");
}

.requirements::before, .requirements::after {
  content: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23d6a46f;opacity:0.9;%7D.cls-2%7Bfill:%23e261a4;%7D.cls-3%7Bfill:%23fff;%7D.cls-4,.cls-6%7Bfill:%2337b8ea;%7D.cls-10,.cls-4,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9%7Bstroke:%23e6e7e8;stroke-miterlimit:10;%7D.cls-4%7Bstroke-width:0.78px;%7D.cls-5%7Bfill:%23fde441;stroke-width:0.91px;%7D.cls-6%7Bstroke-width:0.72px;%7D.cls-7,.cls-9%7Bfill:%239063a8;%7D.cls-7%7Bstroke-width:0.74px;%7D.cls-8%7Bfill:%2368c7bd;%7D.cls-8,.cls-9%7Bstroke-width:0.56px;%7D.cls-10%7Bfill:%238062aa;stroke-width:0.71px;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='cls-1' cx='512.5' cy='525.5' r='393.5'/%3E%3Cpath class='cls-2' d='M857,496.05a117.45,117.45,0,0,0-33.11-82.37,121.9,121.9,0,0,0,.73-13.32c0-63.41-48.89-114.82-109.18-114.82-.76,0-1.51,0-2.26,0-9.78-52.87-54-92.77-107.17-92.77a105.62,105.62,0,0,0-70.8,27.41c-20-23.45-49-38.21-81.32-38.21-47.38,0-87.72,31.75-102.82,76.12a104,104,0,0,0-22.8-2.51c-60.29,0-109.18,51.41-109.18,114.82a122.08,122.08,0,0,0,1.25,17.44c-30.81,20.3-51.3,56.33-51.3,97.38a118.77,118.77,0,0,0,14.61,57.42A118.73,118.73,0,0,0,169,600.08c0,55,36.76,100.95,85.84,112.19,5.1,58.44,51.83,104.21,108.72,104.21a104.23,104.23,0,0,0,37.77-7.06c18.72,35,54.34,58.58,95.21,58.58,32.88,0,62.37-15.29,82.39-39.47a104.43,104.43,0,0,0,48.63,12c60.3,0,109.18-51.41,109.18-114.82H737c60.29,0,109.18-51.41,109.18-114.83a119.53,119.53,0,0,0-9.82-47.66A118.31,118.31,0,0,0,857,496.05ZM627.56,610.87c-32.88,0-62.36,15.29-82.38,39.47a104.61,104.61,0,0,0-86.41-4.93c-15-28.11-41-48.89-71.87-55.95a118.14,118.14,0,0,0-14.15-46.79,118.77,118.77,0,0,0,14.61-57.42,120.74,120.74,0,0,0-1.25-17.44,114.2,114.2,0,0,0,44.94-58.67,105,105,0,0,0,93.6-24.91c20,23.46,49,38.21,81.32,38.21.75,0,1.51,0,2.26,0a116.43,116.43,0,0,0,31.1,60.32A108.09,108.09,0,0,0,684.1,510.4a111.68,111.68,0,0,0-35.68,33.31,118.31,118.31,0,0,0-20.61,67.16Z'/%3E%3Ccircle class='cls-3' cx='512.44' cy='506.25' r='160.21'/%3E%3Crect class='cls-4' x='613.65' y='333.84' width='107.51' height='23.09' rx='8.66' transform='matrix(0.54, 0.84, -0.84, 0.54, 599.51, -403.02)'/%3E%3Crect class='cls-5' x='193.5' y='498.5' width='125' height='26.85' rx='10.07' transform='translate(-304.98 398.34) rotate(-51.99)'/%3E%3Crect class='cls-5' x='373.5' y='728.5' width='125' height='26.85' rx='10.07' transform='translate(-312.55 317.4) rotate(-30)'/%3E%3Crect class='cls-5' x='443.5' y='270.5' width='125' height='26.85' rx='10.07' transform='translate(-73.28 316.8) rotate(-32.55)'/%3E%3Crect class='cls-6' x='285.17' y='350.97' width='98.78' height='21.21' rx='7.96' transform='translate(735.33 75.13) rotate(97.22)'/%3E%3Crect class='cls-5' x='694.5' y='435.5' width='125' height='26.85' rx='10.07' transform='translate(-123.04 438.64) rotate(-30)'/%3E%3Crect class='cls-7' x='695.75' y='558.18' width='101.69' height='21.84' rx='8.19' transform='translate(562.39 -351.42) rotate(41.37)'/%3E%3Crect class='cls-5' x='631.5' y='681.5' width='125' height='26.85' rx='10.07' transform='translate(-254.48 440.1) rotate(-30)'/%3E%3Crect class='cls-8' x='508.53' y='762.12' width='76.97' height='16.53' rx='6.2' transform='translate(-383.71 933.08) rotate(-64.54)'/%3E%3Crect class='cls-9' x='379.53' y='252.12' width='76.97' height='16.53' rx='6.2' transform='translate(3.21 525.86) rotate(-64.54)'/%3E%3Crect class='cls-10' x='255.5' y='636.5' width='97.78' height='21' rx='7.87'/%3E%3C/svg%3E");
}

.requirements {
  background-color: #fee440;
  margin-bottom: 1.5rem;
}
.requirements p {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 1rem;
}
@media only screen and (min-width: 45rem) {
  .requirements {
    max-width: 45rem;
    margin: 0 auto;
    padding: 5rem;
  }
}

footer:before {
  content: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e261a4;%7D.cls-2,.cls-4,.cls-6%7Bfill:%23fff;stroke-miterlimit:10;%7D.cls-2,.cls-4%7Bstroke:%23d1d3d4;%7D.cls-2%7Bstroke-width:5px;%7D.cls-3%7Bfill:%2368c7bd;%7D.cls-4%7Bstroke-width:4.84px;%7D.cls-5%7Bfill:%23ee2a7b;%7D.cls-6%7Bstroke:%23e6e7e8;stroke-width:0.6px;opacity:0.2;%7D%3C/style%3E%3C/defs%3E%3Cellipse class='cls-1' cx='365.5' cy='469.5' rx='181.5' ry='131.5'/%3E%3Cellipse class='cls-1' cx='549.5' cy='462.5' rx='201.5' ry='131.5'/%3E%3Cpath class='cls-2' d='M184,530l48,300s234.61,122,479.81,0L741,544S384,646,184,530Z'/%3E%3Cellipse class='cls-1' cx='495' cy='322.5' rx='147' ry='131.5'/%3E%3Cpath class='cls-3' d='M201.87,641.66s378.69,90.17,529.16,0l-5.55,54.4s-188.84,101.57-514.91,0Z'/%3E%3Cpath class='cls-4' d='M183.72,498s339.52,104.25,553.86,17.38c0,0,36,24.12-10,46.12,0,0-249.65,95-543.89-23.5C183.72,538,155.1,506.5,183.72,498Z'/%3E%3Cpath class='cls-5' d='M610,209c0,27.61-25.74,50-57.5,50S495,236.61,495,209s25.74-50,57.5-50a65.09,65.09,0,0,1,21,3.42C594.85,169.71,610,187.82,610,209Z'/%3E%3Cellipse class='cls-6' cx='583.69' cy='189.02' rx='10.56' ry='22.05' transform='translate(-16.31 317.17) rotate(-30)'/%3E%3Cpath class='cls-5' d='M556.09,172s42-42.46,57.23-17.59l9.68-15.2S587.32,109.42,556.09,172Z'/%3E%3C/svg%3E");
}

footer {
  background-color: #00f5d4;
  text-align: center;
  margin-bottom: 1.5rem;
}

.design-selection, .design-archives {
  background-color: #f15bb5;
}
@media only screen and (min-width: 45rem) {
  .design-selection, .design-archives {
    padding: 5rem;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*# sourceMappingURL=style.css.map */
