@import url("https://fonts.googleapis.com/css2?family=Elsie:wght@900&family=Quattrocento+Sans&display=swap");
body {
  margin: 0 auto;
  font-family: "Quattrocento Sans", sans-serif;
}

h1 {
  font-family: "Elsie", "cursive";
  font-size: 4em;
  text-align: center;
  font-size: 3.5em;
  text-transform: uppercase;
}

h1, header, .summary {
  color: gray;
}

header,
.summary,
.preamble,
.explanation,
.participation,
.benefits,
.requirements,
.design-selection,
.design-archives,
.zen-resources {
  padding: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

a:link {
  text-decoration: none;
  color: black;
}

.summary a:link {
  color: grey;
}

@media only screen and (min-width: 45em) {
  header, .summary {
    text-align: right;
  }
}

.preamble {
  background-color: #f15bb5;
  margin-bottom: 1.5em;
}
.preamble p {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 1em;
}
@media only screen and (min-width: 45em) {
  .preamble {
    padding: 5em;
    display: grid;
    grid-template: 20% 40% 60%/50% 50%;
    grid-column-gap: 1.5em;
  }
  .preamble h3 {
    grid-row: 1;
    grid-column: 1;
  }
  .preamble :nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }
  .preamble :nth-child(3) {
    grid-row: 3;
    grid-column: 1;
  }
  .preamble :nth-child(4) {
    grid-row: 2;
    grid-column: 2;
  }
}

.explanation {
  background-color: #fee440;
  color: black;
  margin-bottom: 1.5em;
}
.explanation p {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 1em;
}
@media only screen and (min-width: 45em) {
  .explanation {
    max-width: 45em;
    margin: 0 auto;
    padding: 5em;
  }
}

.participation {
  background-color: #f15bb5;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
.participation p {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 1em;
}
@media only screen and (min-width: 45em) {
  .participation {
    padding: 5em;
    display: grid;
    grid-template: 20% 80%/1fr 1fr 1fr;
    grid-column-gap: 1.5em;
  }
  .participation h3 {
    grid-row: 1;
    grid-column: 1;
  }
  .participation :nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }
  .participation :nth-child(3) {
    grid-row: 2;
    grid-column: 2;
  }
  .participation :nth-child(4) {
    grid-row: 2;
    grid-column: 3;
  }
}

.benefits {
  background-color: #00f5d4;
  margin-bottom: 1.5em;
}
.benefits p {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 1em;
}
@media only screen and (min-width: 45em) {
  .benefits {
    max-width: 25em;
  }
}

.requirements {
  background-color: #fee440;
  margin-bottom: 1.5em;
}
.requirements p {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 1em;
}
@media only screen and (min-width: 45em) {
  .requirements {
    max-width: 45em;
    margin: 0 auto;
    padding: 5em;
    /*p {
        background-color: rgba($color-3, 0.5);
    }*/
  }
}

footer {
  background-color: #00f5d4;
  text-align: center;
  margin-bottom: 1.5em;
}

.design-selection, .design-archives {
  background-color: #f15bb5;
}
@media only screen and (min-width: 45em) {
  .design-selection, .design-archives {
    padding: 5em;
  }
}

/*# sourceMappingURL=style.css.map */
