//colors
$color-1: #f15bb5; // Pink
$color-2: grey;; // Aqua
$color-3: #fee440; // Yellow
$color-4: #00bbf9; // Blue
$color-5: #9b5def; // Purple
$color-6: #00f5d4; // Grey
$color-7: white; // White
$color-8: black; // Black
//typography
$primary-font: 'Elsie', 'cursive';
$secondary-font: 'Quattrocento Sans', sans-serif;
//header and summary

//preamble 
.preambe {
    background-color: $color-1;
}
//explanation

//participation

//benefits

//requirements

//footer (icons and such)

//navigation (in sidebar)

//resources

